

<!--header section-->
<div class="ui-header-home">
  <div class="wrapper clearfix">
     <div class="ui-header-fl"> <a href="index.html" class="ui-logo fl">新起点</a></div>
      <div class="ui-header-fr">
          <ul>                                                             
          <li class="on"><a href="#" >首页</a></li>
          <li><a href="#" >人才招聘</a></li>
          <li><a href="#" >人才培训</a></li>
          <li><a href="#" >人事代理</a></li>
          <li><a href="#" >管理咨询</a></li>
          <li><a href="#" >公司介绍</a></li>
          </ul>
      </div>
  </div>
</div>

<div class="ui-banner"></div>

<div class="ui-body-home">
	<div class="wrapper clearfix">
      <div class="fl ui-company">
        	<h2>关于新起点</h2>
            <p>新起点人力（嘉兴新起点人力资源有限公司）是一家专注于电子商务行业的人才管理服务及管理咨询公司，公司创始人及主要成员均曾就职于国内知名电商企业，并具有丰富的电商从业经验。公司立足嘉兴，并辐射长三角，专注于为正在或将在电商之路上发展壮大的企业提供持续、务实的电商专才猎头、人才培训、人事代理、企业管理咨询等服务，并力争成为国内优秀的电商企业人力资源服务商。</p>
        </div>
        
        <div class="fr ui-company-pic">
   	    <img src="images/ad.gif" width="464" height="422" alt=""/> 
        </div>
        
        
  </div>   
</div>

   

<div class="ui-banner-b">
	<div class="wrapper">
    <img src="images/banner.gif" width="870" height="143" alt=""/> </div>
</div>

<div class="ui-body-home">
	<div class="wrapper clearfix">
   	  <div class="fl ui-address">
        	<p>联系我们<br />
地址：嘉兴市南湖区文贤路134号<br />
嘉兴电子商务产业园2号园1楼<br />
邮编：314000<br />
电话：0573-89890100<br />
传真：0573-89890104<br />
E-mail：<a href="mailto:zhaopin@xinqidian.cn">zhaopin@xinqidian.cn</a></p> </div>
    <div class="fl ui-ad">
   	  <img src="images/ad.jpg" width="469" height="217" alt=""/> </div>	
     <div class="fl ui-wechat">
   	   <h3>微关注</h3>
      	<p><img src="images/wechat.gif" width="151" height="177" alt=""/></p> 
      </div> 
        
    </div>
</div> 

<div class="ui-footer-home">
	<div class="wrapper">
    	<a  href="#" class="ui-logo-bottom" ></a>
        <span>Copyright 2003-2013,版权所有XinQiDian.cn  @嘉兴新起点人力资源有限公司</span>
    </div>
</div>

