<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="Content-Language" content="zh-CN" />
      <meta name="Copyright" content="" />
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <title>首页 -新起点</title>
      <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/base.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
